.h3 game info
= form_for [@team, @game] do |f|
  %label Name:
  = f.text_field :name
  %br
  %label Location (full address)
  = f.text_field :address
  %br
  %label Time
  = render "datepicker"

  = f.submit