<!DOCTYPE html>
<html>
<head>
  <script src="//maps.google.com/maps/api/js?v=3.18&sensor=false&client=&key=&libraries=geometry&language=&hl=&region="></script> 
  <script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>
</html>

  <title>Bkwets</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div class="container-fluid">
    <div class="row content">
      <div class="col-sm-3 sidenav translucent">
        <h2><%=link_to("Go BK Wets!!", "/")%></h2>
        <ul class="nav nav-pills nav-stacked">
          <li id="welcome" class="active side-menu"><a href="/">Welcome</a></li>
          <li id="teams" class="side-menu"><a href="/teams">Teams</a></li>
<!--           <li><a href="/whiteboard">Whiteboard</a></li> -->
          <li id="practice" class="side-menu"><a href="/practice">Practice Info</a></li>
          <li id="contact" class="side-menu"><a href="/contact">Contact</a></li>
        </ul><br>
      </div>

      <div class="col-sm-9">
        <%= yield %>
      </div>
      <script>
        $(".side-menu").removeClass("active");
        $("#<%= @page || 'teams' %>").addClass("active");
      </script>
    </div>
  </div>
</body>